* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  background-color: rgb(30, 30, 30);
  color: whitesmoke;
  overflow-x: hidden;
}

.navigation {
  background-color: rgb(50, 50, 50);
  height: 20vh;
}

.navigation ul {
  height: 100%;
  margin-right: 3%;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: right;
}

.navigation ul li a {
  position: relative;
  background-color: none;
  color: slategray;
  margin: 10px;
  padding: 15px 30px;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  border-top: none;
  border-right: 2px solid darkslategray;
  border-bottom: 1px solid slategray;
  border-left: none;
  outline: none;
  cursor: pointer;
}

.introduction {
  background-color: rgb(30, 30, 30);
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.introduction .content {
  background-color: rgb(40, 40, 40);
  width: 60%;
  height: 60%;
  border-radius: 10px;
}

.skills {
  position: relative;
  background-color: rgb(30, 30, 30);
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.skills .content {
  background-color: darkorange;
  width: 90%;
  height: 95%;
  border-radius: 0 5px 5px 0;
  opacity: 0;
}

.skills .content.animate {
  animation: skills-content-entrance 1s ease forwards;
}

@keyframes skills-content-entrance {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.skills .title {
  width: 10%;
  height: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.skills .title.animate {
  animation: skills-title-entrance 1s ease forwards;
}

@keyframes skills-title-entrance {
  from {
    transform: translateY(-100%);
  }

  to {
    /*DEFAULT*/
    opacity: 1;
  }
}

.skills .title h2 {
  transform: rotate(90deg);
  font-size: 60px;
  letter-spacing: 10px;
}

.skills .character {
  position: absolute;
  bottom: 7%;
  right: 7%;
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.skills .character.animate {
  animation: skills-character-floating 3s ease-in-out infinite, skills-character-entrance 3s ease forwards;
}

@keyframes skills-character-floating {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes skills-character-entrance {
  from {
    right: -15%;
  }

  to {
    /*DEFAULT*/
    opacity: 1;
  }
}

.skills .character img {
  width: auto;
  height: 90%;
  z-index: 1;
}

.skills .character div {
  position: absolute;
  bottom: -10%;
  background-color: rgb(25, 25, 25);
  width: 90%;
  height: 30%;
  z-index: 0;
  border-top: 1px solid darkslategray;
  border-bottom: 10px solid darkslategray;
  border-left: 1px solid darkslategray;
  border-right: 5px solid darkslategray;
  border-radius: 50%;
  transition: transform 0.3s ease-out;
}

.skills .character div.active {
  animation: skills-character-div-active 5s ease forwards;
}

@keyframes skills-character-div-active {
  from {
    border-top: 1px solid cyan;
    border-bottom: 10px solid cyan;
    border-left: 1px solid cyan;
    border-right: 5px solid cyan;
    box-shadow: 0px 4px 4px rgba(0, 255, 255, 0.8);
    transform: scale(1.2);
  }

  to {
    border-top: 1px solid darkslategray;
    border-bottom: 10px solid darkslategray;
    border-left: 1px solid darkslategray;
    border-right: 5px solid darkslategray;
  }
}

.achievements {
  background-color: maroon;
  height: 100vh;
}